<html>
<head>
  <title>Michael Erdey</title>
</head>

<body>
  <h1><a href="/">Michael Erdey</a></h1>

  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="https://twitter.com/erdeym">Twitter</a></li>
    <li><a href="https://github.com/merdey">Github</a></li>
  </ul>

  <%= yield %>
</body>
</html>